{% extends 'layout.html.twig' %}

{% block body %}
    <main class="flex-shrink-0">
        {#            <div class="d-flex justify-content-end m-3">
                {% if session.user_id == post.author.id %}
                    <a href="/post/{{ post.id }}/edit">
                    <button class="btn btn-secondary me-3">Modifier</button>
                </a>
                {% endif %}
                {% if session.user_id == post.author.id or session.role == 'ROLE_ADMIN' %}
                <a href="/post/{{ post.id }}/delete">
                    <button class="btn btn-danger">Supprimer</button>
                </a>
                {% endif %}
            </div> #}


        <!-- Page Content-->
        <section class="py-md-5 ">
            <div class="md-container px-md-5 my-md-5">
                <div class="row g-md-x-5 justify-content-center">
                    <div class="col-lg-9">
                        <!-- Post content-->
                        <article class="d-none d-md-block">
                            <header class="mb-4">
                                <h1 class="fw-bolder mb-1 text-center">{{ figure.name|capitalize }}</h1>
                                <div class="action-buttons d-flex gap-2 justify-content-end m-2">
                                    <a href="{{ '/update/figure/' ~ figure.id }}" style="position: relative;">
                                        <button class="btn btn-secondary btn-icon" title="Modifier">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                    </a>
                                    <a href="{{ '/delete/figure/' ~ figure.id }}" style="position: relative;">
                                        <button class="btn btn-danger btn-icon" title="Supprimer">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </a>
                                </div>
                            </header>

                            <!-- Zone d'aperçu -->
                            <div class="container mt-4 ">
                                <div id="preview" class="mb-3 text-center">
                                    <img id="previewImage" class="img-fluid d-none" style="max-height: 400px;"
                                         alt="Preview">
                                    <video id="previewVideo" controls class="img-fluid d-none"
                                           style="max-height: 400px;">
                                        <source id="videoSource" src="">
                                        Votre navigateur ne supporte pas les vidéos.
                                    </video>
                                </div>

                                <!-- Flèches et Galerie -->
                                <div class="d-flex align-items-center">
                                    <!-- Flèche gauche -->
                                    <button class="btn btn-outline-primary" id="arrowLeft">
                                        <i class="bi bi-chevron-left"></i>
                                    </button>

                                    <!-- Galerie de vignettes -->
                                    <div class="flex-grow-1 overflow-hidden d-flex mx-2" id="thumbnailContainer"
                                         style="gap: 10px; overflow-x: auto; scroll-behavior: smooth;">
                                        {% if  figure.illustrations or figure.videos %}
                                        {% for image in figure.illustrations %}
                                            <img src="{{ asset('uploads/illustrations/' ~ image) }}"
                                                 class="img-thumbnail thumbnail"
                                                 alt="Image"
                                                 data-type="image"
                                                 data-src="{{ asset('uploads/illustrations/' ~ image) }}"
                                                 style="cursor: pointer; width: 100px; height: 100px;">
                                        {% endfor %}
                                        {% for video in figure.videos %}
                                            <video class="img-thumbnail thumbnail"
                                                   style="width: 100px; height: 100px; cursor: pointer;"
                                                   data-type="video"
                                                   data-src="{{ asset('uploads/videos/' ~ video) }}"
                                                   controls
                                                   muted>
                                                <source src="{{ asset('uploads/videos/' ~ video) }}" type="video/mp4">
                                            </video>
                                        {% endfor %}
                                        {% else %}
                                        <img src="{{ asset('assets/images/indy.webp') }}"
                                             class="img-thumbnail thumbnail"
                                             alt="Image"
                                             data-type="image"
                                             data-src="{{ asset('assets/images/indy.webp') }}"
                                             style="cursor: pointer; width: 100px; height: 100px;">
                                        {% endif %}

                                    </div>

                                    <!-- Flèche droite -->
                                    <button class="btn btn-outline-primary" id="arrowRight">
                                        <i class="bi bi-chevron-right"></i>
                                    </button>
                                </div>
                            </div>

                            <section class="mb-3">
                                <h1>Description de la figure</h1>
                                <p class="fs-5 mb-4">{{ figure.description|raw }}</p>
                                <div class="text-muted text-end">Auteur : {{ figure.author.username|raw }}</div>
                            </section>
                            <section>
                                <div class="d-flex gap-2">
                                    <h5>Groupe : <span
                                                class="badge bg-secondary">{{ figure.figureGroup|raw|capitalize }}</span>
                                    </h5>
                                </div>
                                <div class="text-muted fst-italic mb-2">
                                    {% if figure.updatedAt %}
                                        Dernière mise à le {{ figure.updatedAt|format_datetime('full', 'short', locale='fr') }}
                                    {% else %}
                                        Créé le  {{ figure.createdAt|format_datetime('full', 'short', locale='fr') }}
                                    {% endif %}
                                </div>
                            </section>
                            <!-- Comments section-->
                            <section>
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <!-- Comment form-->
                                        {#                                    {% if session and not commentEdit %}

                                    {% endif %}

                                    {% if commentEdit %}
                                        <h2>Modification du commentaire</h2>
                                        <form class="mb-4 d-flex gap-2" id="editCommentForm" method="post"
                                              action="/comment/{{ editedComment.id }}/edit/submit">
                                            <label for="edit-comment-content"></label>
                                            <textarea name="content" id="edit-comment-content" class="form-control"
                                                      rows="3"
                                                      placeholder="Écrivez ici votre commentaire">{{ editedComment.content|raw }}</textarea>

                                            <button class=" btn btn-warning btn-sm me-md-2">Modifier</button>
                                            <input type="hidden" name="post_id" value="{{ post.id }}">
                                            <input type="hidden" name="comment_id" value="{{ editedComment.id }}">

                                        </form>
                                    {% endif %} #}

                                        <h2>Commentaires</h2>

                                        {% if app.user %}
                                        {{ form_start(form) }}
                                        {{ form_row(form.content) }}
                                        <input type="hidden" name="figure_id" value="{{ figure.id }}">
                                        <input type="hidden" name="_token" value="{{ csrf_token('create_message') }}">

                                        <div class="d-flex justify-content-end my-2 ">
                                            <button class="btn btn-warning  btn-sm me-md-2" type="submit"
                                                    formaction="/figure/{{ figure.id }}/comments">Commenter
                                            </button>
                                        </div>

                                        {{ form_end(form) }}
                                        {% endif %}
                                        <div class="d-flex flex-column gap-2 ">
                                            {% for comment in comments %}

                                                {#                                            {% if session.user_id == comment.author.id %}
                                                <div class="d-flex  align-items-center ">
                                                    <div class="flex-shrink-0"><img class="rounded-circle"
                                                                                    style="width: 50px; height: 50px;"
                                                                                    src="../../../public/assets/websiteUtils/user.png"
                                                                                    alt="..."/></div>
                                                    <div class="fw-bold ms-3 text-muted">{{ comment.author.username|raw }}</div>
                                                </div>
                                                <div class="ms-3 text-muted">
                                                    {{ comment.content|raw }}
                                                </div>

                                                <div class="ms-3 text-info">
                                                    Votre commentaire doit être validé pour apparaitre en ligne
                                                </div>
                                                <div class="d-flex justify-content-end m-3">
                                                    <a href="/comment/{{ comment.id }}/edit">
                                                        <button class="btn btn-secondary me-3">Modifier</button>
                                                    </a>
                                                    <a href="/comment/{{ comment.id }}/delete">
                                                        <button class="btn btn-danger">Supprimer</button>
                                                    </a>
                                                </div>
                                            {% endif %} #}
                                                <div class="d-flex  align-items-center ">
                                                    <div class="flex-shrink-0"><img class="rounded-circle"
                                                                                    style="width: 50px; height: 50px;"
                                                                                    src="{{ asset('assets/websiteUtils/user.png') }}"
                                                                                    alt="..."/></div>
                                                    <div class="fw-bold ms-3">{{ comment.author.username|raw }}</div>
                                                </div>
                                                <div class="ms-3">
                                                    {{ comment.content|raw }}
                                                </div>
                                                <p class=" me-2 fw-lighter fst-italic small">
                                                    {{ comment.createdAt|format_datetime('short', 'short', locale='fr') }}
                                                </p>
                                                {#                                                {% if session.user_id == comment.author.id or session.role == 'ROLE_ADMIN' %}
                                                    <div class="d-flex justify-content-end m-3">
                                                        <a href="/comment/{{ comment.id }}/edit">
                                                            <button class="btn btn-secondary me-3">Modifier</button>
                                                        </a>
                                                        <a href="/comment/{{ comment.id }}/delete">
                                                            <button class="btn btn-danger">Supprimer</button>
                                                        </a>
                                                    </div>
                                                {% endif %} #}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </article>

                        <!-- Mobile view -->
                        <article class="d-block d-md-none">
                            {% if figure.illustrations %}
                            <header class="bg-white position-relative d-flex align-items-center justify-content-center mb-2"
                                    style="background-image: url('{{ asset('uploads/illustrations/' ~ figure.illustrations[0]) }}'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 30vh;">
                                {% elseif figure.videos %}
                                <header class="bg-white position-relative d-flex align-items-center justify-content-center mb-2"
                                        style="background-image: url('{{ asset('uploads/illustrations/' ~ figure.videos[0]) }}'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 30vh;">
                                    {% else %}
                                    <header class="bg-white position-relative d-flex align-items-center justify-content-center mb-2"
                                            style="background-image: url('{{ asset('assets/websiteUtils/homepage_picture.jpg') }}'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 30vh;">
                                        {% endif %}
                                        <div class="container text-center position-relative" style="z-index: 1;">
                                            <div class="overlay-text position-relative d-inline-block px-4 py-3">
                                                <h1 class="display-5 fw-bold text-dark mb-2">{{ figure.name }}</h1>
                                            </div>
                                        </div>
                                    </header>
                                    <p class="d-flex justify-content-center flex-column">
                                        <button class="btn btn-primary mx-3" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseExample" aria-expanded="false"
                                                aria-controls="collapseExample">
                                            Voir les médias
                                        </button>
                                    </p>

                                    <div class="collapse" id="collapseExample">
                                        {% for image in figure.illustrations %}
                                            <img src="{{ asset('uploads/illustrations/' ~ image) }}"
                                                 class="img-thumbnail thumbnail mb-2"
                                                 alt="Image"
                                                 data-type="image"
                                                 data-src="{{ asset('uploads/illustrations/' ~ image) }}"
                                                 style="cursor: pointer; width: 100%">
                                        {% endfor %}
                                        {% for video in figure.videos %}
                                            <video class="img-thumbnail thumbnail mb-2"
                                                   style="width: 100%; cursor: pointer;"
                                                   data-type="video"
                                                   data-src="{{ asset('uploads/videos/' ~ video) }}"
                                                   controls
                                                   muted>
                                                <source src="{{ asset('uploads/videos/' ~ video) }}" type="video/mp4">
                                            </video>
                                        {% endfor %}
                                    </div>
                                    <section class="d-flex flex-column mx-2">
                                        <h1 class="align-self-center">Description</h1>
                                        <p class="fs-6 ">{{ figure.description|raw }}</p>
                                        <span class="badge text-bg-secondary w-25 "> {{ figure.figureGroup|raw }}</span>
                                        <p class="fs-6 fw-lighter fst-italic mt-2"> créé le
                                            : {{ figure.createdAt|format_datetime('full', 'short', locale='fr') }}</p>
                                        {% if figure.updatedAt %}
                                            Dernière mise à jour le {{ figure.updatedAt|format_datetime('full', 'short', locale='fr') }}
                                        {% endif %}
                                    </section>
                                    <!-- Mobile Comments section-->
                                    <section>
                                        <div class="card bg-light">
                                            <div class="card-body">
                                                <!-- Comment form-->
                                                {#                                    {% if session and not commentEdit %}

                                    {% endif %}

                                    {% if commentEdit %}
                                        <h2>Modification du commentaire</h2>
                                        <form class="mb-4 d-flex gap-2" id="editCommentForm" method="post"
                                              action="/comment/{{ editedComment.id }}/edit/submit">
                                            <label for="edit-comment-content"></label>
                                            <textarea name="content" id="edit-comment-content" class="form-control"
                                                      rows="3"
                                                      placeholder="Écrivez ici votre commentaire">{{ editedComment.content|raw }}</textarea>

                                            <button class=" btn btn-warning btn-sm me-md-2">Modifier</button>
                                            <input type="hidden" name="post_id" value="{{ post.id }}">
                                            <input type="hidden" name="comment_id" value="{{ editedComment.id }}">

                                        </form>
                                    {% endif %} #}

                                                <h2 class="text-center">Commentaires</h2>
                                                <p class="d-flex justify-content-center flex-column">
                                                    <button class="btn btn-primary mx-3" type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#collapseComment" aria-expanded="false"
                                                            aria-controls="collapseComment">
                                                        Écrire un commentaire
                                                    </button>
                                                </p>

                                                <div class="collapse" id="collapseComment">
                                                    {{ form_start(form) }}
                                                    <textarea name="{{ field_name(form.content) }}" id="comment-content"
                                                              value="{{ field_value(form.content) }}"
                                                              class="form-control" rows="3"
                                                              placeholder="Écrivez ici votre commentaire"></textarea>
                                                    <input type="hidden" name="figure_id" value="{{ figure.id }}">
                                                    <input type="hidden" name="_token"
                                                           value="{{ csrf_token('create_message') }}">
                                                    <div class="d-flex justify-content-center">
                                                        <button class="btn btn-warning btn-sm my-2" type="submit"
                                                                formaction="/figure/{{ figure.id }}/comments">Commenter
                                                        </button>
                                                    </div>

                                                    {{ form_rest(form) }}
                                                </div>
                                                <section id="messages-section" class="py-1">
                                                    {{ component('MessageGrid', { page: 1, figureId: figure.id }) }}
                                                </section>
                                            </div>
                                        </div>
                                    </section>
                        </article>

                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
